* {
  font-family: sans-serif;
}

body {
  margin: 0
}

form.addproject {
  background-color: #ddd;
  padding: 15px;
}

form.addproject input[type="text"] {
  width: 160px;
}

form.addproject label {
  display: block;
}

div.datepicker {
  width: 160px;
  position: relative;
}

div.datepicker img {
  position: absolute;
  right: -3px;
  top: 0;
  width: 21px;
  height: 21px;
}

input[type="button"],
input[type="submit"] {
  background-color: #888;
  border: 0;
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
}

input[type="submit"] {
  margin-top: 15px;
}

div.start, div.delete {
  display: table-cell;
  vertical-align: middle;
  height: 32px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #2d2;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

div.delete {
  background-color: #d22;
}

div.wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.hourly-wage {
  text-align: right;
  padding-top: 15px;
}

.hourly-wage input {
  width: 49px;
  text-align: right;
  border: 1px solid #000;
  font-size: 16px;

}

table.project {
  border-spacing: 0;
  width: 100%;
}

table.project th {
  padding: 15px 0;
}

table.project td {
  padding: 3px 8px;
}

table.project tr td:first-child {
  background-color: #ddd;
  font-weight: bold;
}
